.cquery_cache/
.DS_Store
.idea/
.vscode/*
crawl-ref/init.txt
crawl-ref/source/.ctags
crawl-ref/source/compile_commands.json
crawl-ref/source/sounds/
crawl-ref/source/GPATH
crawl-ref/source/GRTAGS
crawl-ref/source/GTAGS
